<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil Heisenburger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Bienvenue sur Heisenburger</h2>
        <p><a href="/login" th:href="@{/login}" class="btn btn-primary">Connexion</a></p>
    </div>
    <div class="container mt-5">
        <h2>Bienvenue sur SpeedResto</h2>
        <p><a href="/client/client_inscription" th:href="@{/client_inscription}" class="btn btn-primary">inscription</a></p>
    </div>
    <div class="container mt-5">
        <h2>Vous êtes un restaurant ? </h2>
        <p><a href="/restaurant/restaurant_inscription" th:href="@{/restaurant_inscription}" class="btn btn-primary">inscription</a></p>
    </div>
</body>
</html>